In [1]:
import os
import sys
import numpy as np
import pandas as pd
from pomegranate import *

model = HiddenMarkovModel()

## Initialize the Model
two methods, first is as an array, second is line by line

In [3]:
dists = [NormalDistribution(5, 1), NormalDistribution(1, 7), NormalDistribution(8,2)]
trans_mat = numpy.array([[0.7, 0.3, 0.0],
                         [0.0, 0.8, 0.2],
                         [0.0, 0.0, 0.9]])
starts = numpy.array([1.0, 0.0, 0.0])
ends = numpy.array([0.0, 0.0, 0.1])
model = HiddenMarkovModel.from_matrix(trans_mat, dists, starts, ends)

In [4]:
s1 = State(NormalDistribution(5, 1))
s2 = State(NormalDistribution(1, 7))
s3 = State(NormalDistribution(8, 2))
model = HiddenMarkovModel()
model.add_states(s1, s2, s3)
model.add_transition(model.start, s1, 1.0)
model.add_transition(s1, s1, 0.7)
model.add_transition(s1, s2, 0.3)
model.add_transition(s2, s2, 0.8)
model.add_transition(s2, s3, 0.2)
model.add_transition(s3, s3, 0.9)
model.add_transition(s3, model.end, 0.1)
model.bake()

In [9]:
# Read the stock data
import datetime
import pandas_datareader.data as web

start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2018, 12, 31)

fb = web.DataReader('FB', 'yahoo', start, end)
fb.columns = [col.lower() for col in fb.columns]

fb.head()

                 high        low       open      close     volume  adj close
Date
2012-05-18  45.000000  38.000000  42.049999  38.230000  573576400  38.230000
2012-05-21  36.660000  33.000000  36.529999  34.029999  168192700  34.029999
2012-05-22  33.590000  30.940001  32.610001  31.000000  101786600  31.000000
2012-05-23  32.500000  31.360001  31.370001  32.000000   73600000  32.000000
2012-05-24  33.209999  31.770000  32.950001  33.029999   50237200  33.029999

In [10]:
X = (fb['close'] - fb['open']) / fb['open']

In [13]:
model = HiddenMarkovModel.from_samples(NormalDistribution, n_components=5, X=X.values)

ValueError: zero-dimensional arrays cannot be concatenated

In [14]:
X.values

array([-0.09084423, -0.0684369 , -0.04937138, ...,  0.01570524,
       -0.01581202, -0.02499071])